git+https://github.com/MKN-BOTZ/pyrogram
git+https://github.com/cinemagoer/cinemagoer       
tgcrypto==1.2.5
pymongo[srv]==3.12.3
umongo==3.0.1
motor==2.5.1
bs4==0.0.1
imdbpy==2021.4.18
requests==2.28.2
pytz
